<% for(let i = 0 ; i<data1.length ; i++) { %>
   <form action="/artist-search", method="GET">
        <button type="submit" value="submit">Search for album</button>
    </form>
    <p><%- data1[i].album %></p>
    <%} %>

    
