<form action="/artist-search", method="GET">
    <label for="name" >Artist's name:</label>
    <input type = "text" name="name" id="name">
    <button type="submit" value="submit">Search for an Artist</button>
</form>